body {
    background-color: #f5eddc;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .text-center {
    margin: auto;
    height: 50vh;
    width: 70vh;
  }
  
  .rounded {
    width: 100%;
    height: 100%;
  }